# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
/.idea/
/.idea_modules/
/atlassian-ide-plugin.xml
/projectFilesBackup/
test-2.11
test-2.10
app-2.11
app-2.10